* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);

  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

.screen1 {
    width: 428px;
  padding: 48px 64px 64px 64px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

@-webkit-keyframes buttonScreen1 {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes buttonScreen1 {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.screen1 button:hover {
   animation-name: buttonScreen1;
   animation-duration: 1s;
}

.screen1 h1 {
  color: #34355B;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 1.4rem;
}

.screen1 p {
  color: #34355B;
  text-align: center;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.screen1 form {
  margin-left: 2.8rem;
}

/* Screen2 */

.screen2 {

  padding: 4.8rem 6.4rem;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.screen2 h2 {
  width: 29.7rem;

  color: #34355B;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 1.7rem;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.screen2 p {
  width: 273px;

  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

  color: #000;
    text-align: center;
  font-family: "Dancing Script";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 6rem;

  animation-name: slide-top;
  animation-duration: 1s;
}

.screen2 button {
  border-radius: 4px;
  background: #FF9500;

  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;

  color: #FFF;

  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 6rem auto 0;
}
